<h1>Sign Up</h1>
<form method="post" action="/users">
  <p>
    <div><label for="dev_username">Developer's Username</label></div>
    <input type="username" name="dev_username" id="dev_username" />
  </p>
  <p>
    <div><label for="password">Password</label></div>
    <input type="password" name="password" id="password" />
  </p>
  <input type="submit" value="Sign Up" />
</form>
